/*CSS*/

/*body*/
body {
    background-color: white;
    margin: 0%;
    outline: none;
}

/*header*/
header {
    position: sticky;
    top: 0%;
}

/*a-header*/
.a-header {
    text-decoration: none;
    color: white;
}

/*Title*/
.Title {
    color: white;
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 63px;
    margin-top: 0%;
}

/*Slogan*/
.Slogan {
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 26px;
}

/*Category*/
.Category {
    text-align: center;
}

/*Book-Name*/
.Book-Name {
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 23px;
    list-style: none;
}

/*Slogan-Feedback*/
.Slogan-Feedback {
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 23px;
}

/*Book*/
.Book {
    text-align: center;
}

/*footer*/
footer {
    color: white;
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
}

/*All-Books-Button*/
.All-Books-Button {
    color: white;
    font-family: sans-serif;
    background-color: black;
    outline: none;
    text-align: center;
    width: 183.3px;
    border-color: black;
}

/*All-Books*/
.All-Books {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}

/*Profile-Button*/
.Profile-Button {
    color: white;
    font-family: sans-serif;
    background-color: black;
    outline: none;
    text-align: center;
    width: 183.3px;
    border-color: black;
}

/*Profile*/
.Profile {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}

/*Feedback-Button*/
.Feedback-Button {
    color: white;
    font-family: sans-serif;
    background-color: black;
    outline: none;
    text-align: center;
    border-color: black;
}

/*Feedback*/
.Feedback {
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

/*Center*/
.Center {
    text-align: center;
}

/*Label*/
.Label {
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 23px;
}

/*Input*/
.Input {
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    background-color: white;
    border-color: black;
    outline: none;
}

/*Radio-Input*/
.Radio-Input {
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
    border-color: black;
    outline: none;
}

/*Submit-Button*/
.Submit-Button {
    color: white;
    font-family: sans-serif;
    background-color: black;
    outline: none;
    text-align: center;
    border-color: black;
    text-decoration: none;
    font-size: 25px;
    width: 150px;
}

/*Dropdown*/
.Dropdown {
    color: white;
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    border-color: black;
    outline: none;
    font-size: 24.5px;
    width: 68%;
    -webkit-appearance: none;
}

/*Option*/
.Option {
    color: white;
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    font-size: 20.5px;
}
